* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* ⬅ не дає вилізти за екран */
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* ⬅ НЕ обрізає */
    background: black;
}


video {
    object-position: center;
}


@media (max-width: 768px) {
    video {
        object-fit: contain;
    }
}
